{% extends 'base.html' %} 

{% block content %}
<div class="flex flex-col items-center justify-center bg-yellow-300 h-screen">
    <h1>Add New Item</h1>
    
    <div class="flex flex-col w-fit p-[30px] bg-white rounded-lg">
        <form method="POST">
            {% csrf_token %}
            <div class="flex flex-col gap-2">
                <!-- {{ form.as_table }} -->
                <div>
                    {{ form.name.label_tag }}
                    <div class="border border-yellow-500 w-fit">
                        {{ form.name }}
                    </div>
                </div>
                <div>
                    {{ form.amount.label_tag }}
                    <div class="border border-yellow-500 w-fit">
                        {{ form.amount }}
                    </div>
                </div>
                <div>
                    {{ form.description.label_tag }}
                    <div class="border border-yellow-500 w-fit">
                        {{ form.description }}
                    </div>
                </div>
                <div>
                    {{ form.taste.label_tag }}
                    <div class="border border-yellow-500 w-fit">
                        {{ form.taste }}
                    </div>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center my-[10px]">
                <button type="submit" class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-[5px] px-4 border border-yellow-500 rounded justify-center items-center">
                Create
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}