{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}  

<div class="login bg-yellow-300">
    <div class="flex flex-col h-screen justify-center items-center">
        <h1 class="text-xl font-semibold p-[12px]">Register</h1>  
        <div class="flex flex-col w-[250px] bg-white rounded-lg p-[30px]">
            {% if messages %}
            <ul class="flex flex-col gap-1 mb-[20px]">
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <li class="text-lime-400">{{ message }}</li>
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <li class="text-rose-600">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            <form method="POST">  
                {% csrf_token %}  
                <div>
                    <div class="flex flex-col gap-3">
                        <div>
                            {{ form.username.label_tag }}
                            <div class="border border-yellow-500 w-fit">
                                {{ form.username }}
                            </div>
                        </div>
                        <div>
                            {{ form.password1.label_tag }}
                            <div class="border border-yellow-500 w-fit">
                                {{ form.password1 }}
                            </div>
                        </div>
                        <div>
                            {{ form.password2.label_tag }}
                            <div class="border border-yellow-500 w-fit">
                                {{ form.password2 }}
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center items-center mt-[10px]">
                        <button class="border px-[20px] py-[5px] bg-yellow-500 hover:bg-yellow-600 text-white font-bold border-yellow-500 rounded" type="submit">Daftar</button>
                    </div>
                </div>
            </form>
            <div class="mt-[10px] p-[10px]">
                Already have an account? <a class="font-semibold text-orange-600" href="{% url 'main:login' %}">Sign In Now</a>
            </div>
        </div>
    </div>
</div>  

{% endblock content %}